{% extends 'ComptageMakerComptageBundle::layout.html.twig' %}
{% block title%}ComptageMaker - Accueil{% endblock %}

{% block body %}
    <div class="header">Les comptages : Présentation</div>
{% endblock %}