{% extends 'ComptageMakerComptageBundle::layout.html.twig' %}
{% block title%}ComptageMaker - Accueil{% endblock %}

{% block body %}
    <div class="page-header"><h2>Bienvenue sur le site des comptages!</h2></div>
<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" >Sur ce site vous pouvez</a>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
                <ul>
                    <li>consulter la liste des comptages prévus</li>
                    <li>vous inscrire à des comptages</li>
                    <li>inscrire/désinscrire votre association à notre base de contacts</li>
                </ul>
            </div>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">FAQ</a>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="container"><p>
                    <ol>
                        <li><h4>Qu’est-ce que c’est ?</h4></li>
                        <p>Afin d’améliorer les infrastructures urbaines, les collectivités comme le Grand Lyon font des statistiques sur la circulation des vélos, motos et autres véhicules. Les collectivités chargent des entreprises spécialisées d'effectuer ces enquêtes, et celles-ci chargent les 24 Heures de l'INSA de leur réalisation.</p>

                        <li><h4>Comment on compte ?</h4></li>

                        <p>Le principe général des comptages consiste à se placer à un carrefour précis (défini à l’avance) et à compter les véhicules selon leur direction. Le but étant de pouvoir évaluer quels sont les flux sur le carrefour, il est bien entendu très important que tout le monde commence le comptage à l’heure prévue. Tout le matériel et les informations relatives au comptage sont donnés aux enquêteurs lors d’un briefing qui a lieu la veille au soir. Il faut noter que la présence à ce briefing est IMPERATIVE si on veut faire le comptage (et en plus c’est pas mal d’être à l’heure aussi).</p>



                        <li><h4>Quand sont les comptages ?</h4></li>

                        <p>Les comptages durent généralement 4 heures divisées en deux demi-journées, le matin de 7h30 à 9h30 et l’après-midi de 17h à 19h. Ces horaires peuvent varier en fonction de la nature des comptages. Les jours de comptages sont principalement les mardis et les jeudis. Il est possible de s'inscrire le matin ET/OU l'aprem.</p>



                        <li><h4>Comment qu’on s’inscrit ?</h4></li>

                        <p>Les inscriptions se font uniquement par le biais de l’interface web (de ouf …). Vous devez y fournir les informations obligatoires pour le comptage c'est-à-dire : nom, prénom, adresse mail (pour vous confirmer les inscriptions …), téléphone (portable), assoc’ (pour que votre assoc’ puisse être payée …), et vos disponibilités. Remarque : si vous n'avez pas de téléphone ou mettez un autre, indiquez le en commentaire, cela évite au client de criser quand il tombe sur le répondeur de votre petite cousine.
                            Un mail de confirmation est envoyé la semaine d'avant, en même temps que les détails (heure et lieu) pour le briefing. En gros, s'il y a un problème, on vous recontacte dés que l'on peut, sinon c'est bon on vous donnera les consignes au briefing.</p>



                        <li><h4>Comment ça se passe-t-il donc pour le paiement ?</h4></li>

                        <p>Les comptages doivent être effectués pour le compte d’une association : vous vous inscrivez en nous précisant l ‘association pour laquelle vous voulez faire le comptage. Suivant les sociétés, le paiement se fera soit par vireent (un RIB vous sera demandé pour le premier compteur, pensez à nous dire s'il y a un changement) ou un chèque, on vous dira quand venir le chercher au local. Le délai pour le paiement est d'environ 1 mois 1/2. En règle général, les comptages sont rémunérés 10 € de l’heure (ce qui fait 40 € la journée). Si le comptage est loin (hors zone Lyon Villeurbanne), le déplacement est défrayé.</p>



                        <li><h4>Ca va plaire à ta sœur</h4></li>
                    </ol>
                    <strong>Les comptages, c’est un travail à part entière, lorsqu’on s’inscrit, on tient ses engagements :</strong>
                    <ul>
                        <li>on ne se décommande pas la veille, ou alors on trouve un remplaçant - dans tous les cas, ON PREVIENT ! pas le lendemain midi...</li>
                        <li>on arrive au moins 15 minutes avant le comptage pour être sur de commencer au bon moment au bon endroit.</li>
                        <li>on tombe rarement malade en une demi nuit : c’est pas parce que les interlocuteurs sont étudiants aussi qu’il faut les prendre pour des couillons : « J’ai pas pu me lever parce que je suis tombé malade cette nuit…blablabla » ne constitue pas une excuse valable. Un mot de ta maman non plus…</li>
                    </ul>
                    <p>
                        Ces règles ne sont pas là uniquement pour vous embêter mais pour assurer la pérennité des comptages : il y a un client professionnel derrière et mauvais comptage = plus de comptages d’ici bientôt.
                        Si vous voulez de plus amples informations, vous inscrire ou tout autres choses, n’hésitez pas à passer au local des 24h (il y a du monde presque tout le temps) ou à nous envoyer un mail.
                    </p>

                    <p>
                        <h3>Le Resp' Comptages</h3>
                        <a href="mailto:comptages@24heures.org">comptages@24heures.org</a><br/>
                        Local des 24 heures, RdC Bâtiment D<br/>
                        20 avenue Albert Einstein, 69621 Villeurbanne Cedex
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}