{% extends 'ComptageMakerComptageBundle::layout.html.twig' %}

{% block title %}ComptageMaker - Admin guide{% endblock %}

{% block div %}

{% endblock %}

{% block body %}
    <h2>Guide d'utilisation de l'admin</h2>

    <h3>Etapes de création d'un comptage depuis le dashboard</h3>
    <ul>
        <li>Créer des plages horaires</li>
        <li>Créer un comptage</li>
        <li>Créer des sessions pour ce comptage</li>
        <li>S'assurer que des associations existent (recommandé)</li>
    </ul>

    <h3>Gestion de la page d'accueil depuis le dashboard</h3>
    <ul>
        <li>Créer une entité textblock</li>
        <li>Celles-ci sont affichées sur la page d'accueil dans l'ordre de leur création (ordre dans une màj future possible)</li>
        <li>S'inspirer de celles déjà existantes</li>
    </ul>
{% endblock %}