<div class="panel {% if count.etat == true %}panel-success{% else %}panel-danger{% endif %}">
    <div class="panel-heading">
        {{ count.debut | date('d-m-y-h-i-s')}}
    </div>
    <div class="panel-body">

    </div>
</div>
