{% extends 'ComptageMakerComptageBundle::layout.html.twig' %}
{% block title%}ComptageMaker - Liste des comptages{% endblock %}

{% block body %}

<div ng-app="comptagemaker">
    {% for count in counts  %}
        {{ include(
        'ComptageMakerComptageBundle:Comptage:count.html.twig',
        { 'count': count }
        ) }}
    {% endfor %}
</div>
{% endblock %}